{% extends 'blog/base.html' %}
{% block content %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        <div class="comment">
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaksbr }}</p>
        </div>
    {% empty %}
        <p>No comments yet :(</p>
    {% endfor %}
{% endblock %}